body{
    background: rgb(244, 247, 252);
}

/*Header*/
.header-title{
    font-weight: 500;
    margin: 0 0 0 0.5em;
    cursor: pointer;
}

.header-title-span{
    color: red;
}

.header-img{
    margin: 10px 0 8px 3em;
    width: 45px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
}

/*main*/

main{
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 50px;
}

/*Search*/

.search-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar{
    padding: 0.75em;
    border-radius: 6px;
    border: 2px solid #E1E1E1;
    margin-left: 2em;
}

/*filter*/

.filter-cancel{
    display: none;
    padding: 0.9em 2.5em;
    box-sizing: border-box;
    color: #6f64ed;
    background: white;
    border: solid #6f64ed;
    cursor: pointer;
}

.filter-button{
    display: none;
    color: white;
    background: #6f64ed;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.75em;
    position: fixed;
    bottom: 3%;
    right: 3%;
    /*box-sizing: border-box;*/
    border: none;
    border-radius: 50%;
}

sub{
    color: gray;
}

h4{
    margin: 0;
}

.dropdown{
    padding: 0.5em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
}

.date-picker{
    padding: 0.45em;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}

.filter-div{
    display: flex!important;
    background: white;
    padding: 1em 0;
    border-radius: 6px;
    justify-content: space-evenly;
}

.filter-search{
    color: white;
    background: #6f64ed;
    border: none;
    height: 3.5em;
    border-radius: 6px;
    padding: 1em 2.5em;
    cursor: pointer;
}

.filter-vertical-border-div{
    border-right: 2px solid #E1E1E1;
}

.filter-p{
    margin: 0;
    font-size: 0.9rem;
    color: gray;
}

/*Property-Card*/

.cards{
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    row-gap: 25px;
    column-gap: 20px;
    justify-content: space-between;
}

.card{
    background: white;
    border-radius: 6px;
}

.card-details{
    padding: 1em;
}

.card-img{
    width: 280px;
    height: 180px;
    border-radius: 6px 6px 0 0;
}

.card-price{
    font-size: 1.5rem;
    color: #6f64ed;
}

.card-name{
    margin: 0;
}

.card-month,
.card-address{
    font-size: 0.85rem;
    color:gray;
}

.card-address{
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.card-date-type{
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    color: gray;
    margin: 0;
}

.card-date,.card-property-type{
    margin: 0;
}

.card-hr{
    border: 1px solid #E1E1E1;
}

.fa-bed,
.fa-bath,
.fa-layer-group{
    color: #6f64ed;
}

.card-info-span{
    font-size: 0.75rem;
    color: gray;
}

.card-info{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/*slider*/
.slider{
    top: -5px;
}

.slider__range{
    background-color: #6f64ed!important;
}

.slider__right-value{
    color: black!important;
    font-weight: bold;
    right: -2px;
    top: -10px;
}

.slider__left-value{
    color: black!important;
    font-weight: bold;
    left: 1px;
    top: -10px;
}

.thumb--zindex-4{
    top: 14px;
}

.thumb--zindex-3{
    top: 14px;
    left: -0.8px;
}

@media screen and (max-width: 977px) {
    header{
        justify-content: center;
    }

    .search-div{
        justify-content: space-around;
    }

    .cards{
        justify-content: space-evenly;
    }

    .filter-button{
        display: block;
    }

    .filter-div{
        display: block!important;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        z-index: 1;
        right: -250px;
        top:0;
        padding: 2em;
        transition: right 0.5s;
    }

    .filter-cancel{
        position: absolute;
        bottom: 10%;
        right: 20%;
        display: block;
    }

    .filter-search{
        position: absolute;
        bottom: 18%;
        right: 21%;
    }

    .filter-options-div{
        margin-bottom: 1.5em;
    }
}